<div class="container" style="background-color: #8DC26F; margin-top: 100px">
  <form style="background-color: #8DC26F">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Від нормативу</label>
        <select class="form-control" id="inputEmail4" placeholder="">
          <option>Біг на сто метрів</option>
          <option>Стрибок в довжину</option>
          <option>Біг на один кілометр</option>
        </select>

      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Рузельтат</label>
        <input type="text" class="form-control" id="inputPassword4" placeholder="Результат">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Додати</button>
  </form>
</div>
