<div class="container-fluid" style="background-color: whitesmoke">
  <div class="container-fluid">
    <div class="row justify-content-start">
      <div class="col-4"><h3><u>Назин Станислав</u></h3></div>
      <div class="col-4">
      </div>
    </div>
  </div>

</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <table class="table">
        <thead class="table-success">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Учень</th>
          <th scope="col">Панель управління</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Іванов Іван</td>
          <td routerLink="/addMarkForm">Поставити оцінку</td>
        <tr>
          <th scope="row">2</th>
          <td>Шевчено Олег</td>
          <td routerLink="">Поставити оцінку</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Франко Іван</td>
          <td routerLink="">Поставити оцінку</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Шевченко Тарас</td>
          <td routerLink="">Поставити оцінку</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Пушкін Александр</td>
          <td routerLink="">Поставити оцінку</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Коваль Максим</td>
          <td routerLink="">Поставити оцінку</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Циганков Віктор</td>
          <td routerLink="">Поставити оцінку</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Бутко Володимир</td>
          <td routerLink="">Поставити оцінку</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Коваленко Віктор</td>
          <td routerLink="">Поставити оцінку</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Шовковський Александр</td>
          <td routerLink="">Поставити оцінку</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div id="list-example" class="col-2 list-group">
      <div style="">
        <a class="list-group-item-success list-group-item list-group-item-action active">Учні</a>
      </div>
      <a class="list-group-item-success list-group-item" href="#list-item-2">Нормативи</a>
      <a class="list-group-item-success list-group-item" href="#list-item-3">Профіль</a>
    </div>
  </div>
</div>
