<div class="container-fluid" style="background-color: whitesmoke">
  <div class="container-fluid">
    <div class="row justify-content-start">
      <div class="col-4"><h3><u>Назин Станислав</u></h3></div>
      <div class="col-4">
        <div class="dropdown" style="margin: 20px">
          <button class="btn btn-outline-success btn-lg btn-block align-items-start dropdown-toggle" type="button"
                  id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            Біг на сто метрів
          </button>
          <div class="dropdown-menu align-items-start" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Біг на сто метрів</a>
            <a class="dropdown-item" href="#">Стрибок в довжину</a>
            <a class="dropdown-item" href="#">Біг на один кілометр</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-10">
        <table class="table">
          <thead class="table-success">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Результат</th>
            <th scope="col">Оцінка</th>
            <th scope="col">Дата</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>14.0</td>
            <td>5</td>
            <td>15/06/2018 8:52 AM</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>13</td>
            <td>5</td>
            <td>14/02/2018 8:00 AM</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>13.3</td>
            <td>5</td>
            <td>01/09/2018 14:22 AM</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>15</td>
            <td>3</td>
            <td>11/12/2018 16:02 AM</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>13.5</td>
            <td>5</td>
            <td>15/11/2018 15:52 AM</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>16</td>
            <td>2</td>
            <td>01/06/2018 15:15 AM</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>14.2</td>
            <td>3</td>
            <td>15/05/2018 10:43 AM</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>13.1</td>
            <td>5</td>
            <td>15/07/2018 8:52 AM</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>17</td>
            <td>2</td>
            <td>17/06/2018 9:50 AM</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>13</td>
            <td>5</td>
            <td>16/06/2018 8:32 AM</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div id="list-example" class="col-2 list-group">
        <div style="">
        <a class="list-group-item-success list-group-item list-group-item-action active">Мої показники</a>
        </div>
        <a class="list-group-item-success list-group-item" href="#list-item-2" routerLink="/pupil/norm">Нормативи</a>
        <a class="list-group-item-success list-group-item" href="#list-item-3">Профіль</a>
      </div>
    </div>
  </div>
</div>
