<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="Електрона пошта"/>
      <input type="password" placeholder="Пароль"/>
      <button routerLink="/pupil">Увійти</button>
    </form>
  </div>
</div>
