<div class="container" style="background-color: #8DC26F; margin-top: 100px">
  <form style="background-color: #8DC26F">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Ім'я</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Ім'я">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Призвище</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Фамілія">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Клас</label>
        <input type="email" class="form-control" placeholder="Клас">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Ел.пошта</label>
        <input type="password" class="form-control" placeholder="Ел.пошта">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Школа</label>
        <input type="email" class="form-control"  placeholder="Школа">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Вік</label>
        <input type="password" class="form-control" placeholder="Вік">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Додати</button>
  </form>
</div>
