<div class="container" style="background-color: #8DC26F; margin-top: 100px">
  <form style="background-color: #8DC26F">
    <div class="form-row">
      <div class="form-group col-md">
        <label for="inputEmail4">Назва навчального закладу</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Назва">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Додати</button>
  </form>
</div>
