<div class="container" style="margin-top: 40px; min-width: 1600px">
  <div class="row">
    <div class="col-10">
      <div class="row" style="background-color: #c3e6cb; padding-top: 20px; padding-bottom: 20px">
        <div class="col-1" style="margin-left: 50%; margin-right: 50%;">
          <h5 style="align-content: center">
            Профіль
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-5" style="padding-bottom: 20px; background-color: #c3e6cb; ">
          <p class="card-text"><b>Ім'я:</b> Станіслав</p>
          <p class="card-text"><b>Призвище</b>: Назін</p>
          <p class="card-text"><b>Клас:</b> 10-А</p>
          <p class="card-text"><b>Назва навчальнгого закладу:</b> ЗОШ №70</p>
          <p class="card-text"><b>Ім'я викладача:</b> Володимр</p>
          <p class="card-text"><b>Призвище викладача:</b> Іванов</p>
        </div>
        <div class="col-7" style="background-color: #c3e6cb; ">
          <p class="card-text"><b>Поради:</b> Вам потрібно роботати над своєю витривалістью. Бігайте вранці.
            Спробуйте
            займатися
            з гантелями і робити це з підходами. Підтягуйтесь кожен день та грайте в драбину зі своїми друзями.
            Спробуйте використовувати спеціальне обладняння. Пам'ятайте для доброї ростяжки потрібен добрий розігрів</p>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div id="list-example" class="list-group">
        <a class="list-group-item-success list-group-item">Мої показники</a>
        <a class="list-group-item-success list-group-item" href="#list-item-2">Нормативи</a>
        <a class="list-group-item-success list-group-item  list-group-item-action active"
           href="#list-item-3">Профіль</a>
      </div>
    </div>
  </div>
</div>
