<h1>
Додати викладача</h1>

<div class="form-group">
  <div class="form-control">
    <label for="email">Електронна пошта</label>
    <input id="email" type="email">
  </div>
  <div class="form-control">
    <label>Ім'я</label>
    <input id="firstName" type="text">
  </div>
  <div class="form-control">
    <label for="lastName">Прізвище</label>
    <input id="lastName" type="text">
  </div>
</div>
