<div class="container-fluid" style="background-color: whitesmoke">
  <div class="container-fluid">
    <div class="row justify-content-start">
      <div class="col-4"><h3><u>Назін Станіслав</u></h3></div>
      <div class="col-4">
        <div class="dropdown" style="margin: 20px">
<!--          <button class="btn btn-outline-success btn-lg btn-block align-items-start dropdown-toggle" type="button"-->
<!--                  id="dropdownMenuButton" data-toggle="dropdown"-->
<!--                  aria-haspopup="true" aria-expanded="false">-->
<!--            Від нормативу-->
<!--          </button>-->
          <div class="dropdown-menu align-items-start" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Біг на сто метрів</a>
            <a class="dropdown-item" href="#">Стрибок в довжину</a>
            <a class="dropdown-item" href="#">Біг на один кілометр</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-10">
        <table class="table">
          <thead class="table-success">
          <tr>
            <th scope="col">Назва нормативу</th>
            <th scope="col">Результат</th>
            <th scope="col">Оцінка</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row" rowspan="4">Нахил тулуба вперед з положення сидячи</th>
            <td>12</td>
            <td>5</td>
          </tr>
          <tr>
            <td>10</td>
            <td>4</td>
          </tr>
          <tr>
            <td>8</td>
            <td>3</td>
          </tr>
          <tr>
            <td>5</td>
            <td>2</td>
          </tr>
          <tr>
            <th scope="row" rowspan="4">Рівномірний біг 2000 м</th>
            <td>7.5</td>
            <td>5</td>
          </tr>
          <tr>
            <td>8.5</td>
            <td>4</td>
          </tr>
          <tr>
            <td>9.2</td>
            <td>3</td>
          </tr>
          <tr>
            <td>10</td>
            <td>2</td>
          </tr>
          <tr>
            <th scope="row" rowspan="4">Біг на 100 м</th>
            <td>14</td>
            <td>5</td>
          </tr>
          <tr>
            <td>14.6</td>
            <td>4</td>
          </tr>
          <tr>
            <td>15.3</td>
            <td>3</td>
          </tr>
          <tr>
            <td>15.9</td>
            <td>2</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div id="list-example" class="col-2 list-group">
        <div style="">
          <a class="list-group-item-success list-group-item">Мої показники</a>
        </div>
        <a class="list-group-item-success list-group-item list-group-item-action active" href="#list-item-2">Нормативи</a>
        <a class="list-group-item-success list-group-item" href="#list-item-3" routerLink="/profile">Профіль</a>
      </div>
    </div>
  </div>
</div>
